﻿body {
  touch-action: manipulation;
    /*background-image: url("images/Hintergrund");*/
    background-color: #ffffff;
    background-size: 100%;

    margin: 0;
    padding: 0;
    overflow: hidden;

}

.gameCanvasClass {

}

#questionText {
  color: white;
}

label{
  color: white;
}

#hintText{
    color: white;
}

#scoreText {
    color: white;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
h2{
    color: #ffffff;
}

#answerSubmitButton {
    display: none;
}

#answerButton3 {
    display: none;
}

#animation-pattern {
    z-index: -1;
}

#animation-dots {
    z-index: -1;
}

.w3-progress-container {
    z-index: 10;
    margin: 10px;

}

.w3-progressbar {
    width: 5%;
    z-index: 10;
}

#slideshow {
    max-width: 65vw;
    position: relative;
    z-index: 5;
    border: 6px solid #006dcc;
    border-radius: 3px;
}

#questionText {
    z-index: 10;
    display: none;
}

#answerButton1 {
    display: none;
}

#answerButton4 {
    display: none;
}

#answerButton2 {
    display: none;
}

#hintText {
    display: none;
}

#scoreText {
    display: none;
}

#divIntroText {
    max-width: 15vw;
    margin-left: 1vw;
}

#divOutroText {
    max-width: 15vw;
    margin-left: 1vw;
}